In [1]:
# 필요모듈 import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
train = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/yds/FC_EDA/data_fc.xlsx')
df = train
df.head()

,Unnamed: 0,id,customer_id,course_id,type,state,course_title,category_title,format,completed_at,transaction_amount,coupon_title,coupon_discount_amount,sale_price,tax_free_amount,pg,method,subcategory_title,marketing_start_at
0,0,970634,504760,201435.0,ORDER,CANCELLED,올인원 패키지 : 알고리즘 기술면접 완전 정복,프로그래밍,올인원,2021-03-28 15:00:11,90500,NaN,NaN,110500.0,110500.0,NaN,VBANK,개발자 커리어,NaT
1,1,970650,432862,203178.0,ORDER,CANCELLED,초격차 패키지 : 한번에 끝내는 영상 촬영과 편집,영상/3D,올인원,2021-03-28 15:16:53,96000,NaN,NaN,116000.0,116000.0,NaN,CARD,영상 편집,2020-12-02
2,2,970657,72297,204246.0,PAYMENT,COMPLETED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810,[10% 할인] 시크릿코드 실무 완성편,19090.0,190900.0,190900.0,NaN,CARD,NaN,2021-03-04
3,3,970656,72297,204246.0,ORDER,CANCELLED,시크릿코드 : 프론트엔드 실무 완성편,프로그래밍,스쿨 온라인,2021-03-28 15:21:43,171810,NaN,NaN,190900.0,190900.0,NaN,CARD,NaN,2021-03-04
4,4,970658,478028,201797.0,PAYMENT,COMPLETED,올인원 패키지 : 직장인 필수 스킬 3종 세트 MAX,업무 생산성,올인원,2021-03-28 15:21:54,97500,[웰컴쿠폰] 올인원 패키지 2만원 할인 쿠폰,20000.0,117500.0,117500.0,NaN,CARD,PPT/보고서,2019-11-14

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105403 entries, 0 to 105402
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              105403 non-null  int64
 1   id                      105403 non-null  int64
 2   customer_id             105403 non-null  int64
 3   course_id               100212 non-null  float64
 4   type                    105403 non-null  object
 5   state                   105403 non-null  object
 6   course_title            105403 non-null  object
 7   category_title          105395 non-null  object
 8   format                  105403 non-null  object
 9   completed_at            105403 non-null  datetime64[ns]
 10  transaction_amount      105403 non-null  int64
 11  coupon_title            31817 non-null   object
 12  coupon_discount_amount  31817 non-null   float64
 13  sale_price              104291 non-null  float64
 14  tax_free_amount         104291 non-null  float64
 15  pg                      90344 non-null   object
 16  method                  92307 non-null   object
 17  subcategory_title       85590 non-null   object
 18  marketing_start_at      87440 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(4), int64(4), object(9)
memory usage: 15.3+ MB

In [7]:
df.isna().sum()

Unnamed: 0                    0
id                            0
customer_id                   0
course_id                  5191
type                          0
state                         0
course_title                  0
category_title                8
format                        0
completed_at                  0
transaction_amount            0
coupon_title              73586
coupon_discount_amount    73586
sale_price                 1112
tax_free_amount            1112
pg                        15059
method                    13096
subcategory_title         19813
marketing_start_at        17963
dtype: int64